


<!DOCTYPE html>
<html lang="en">


<head>
    <title>KOUSTUV GROUP OF INSTITUTIONS (KGI) Bhubaneswar, Among top Ranked Engineering College, Best Plaement Record</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Koustuv,Group,INSTITUTIONS,Engineering,College,Bhubaneswar,Odisha,Placement,KGI,Bhubaneswar Engineering College,Koustuv Institute of self Domain"/>
<meta name="google-site-verification" content="WGXFhPWfANKAX4Ku1-ti7o8mLzlzALcC345zn94gkQc" />
<meta name="keywords" content="Admission,Koustuv Group of Institutions,KGI,CEB,KISD,BEC,management, engineering"/>

<meta name="description" content="One of the engineering college in Odisha for engineering education, Colleges under KGI are College of Engineering Bhubaneswar, Koustuv Institute of self Domain, Best Placement Colleges in Bhubaneswar, Bhubaneswar Engineering College, Best Engineering College of Odisha, Top 10 Engineering College in Odisha, Top Placement Colleges in Odisha, Best Placement Colleges in Odisha, best institute in odisha, top institute in odisha, first estern women's engineering college in odisha, KGI is one of the leading institute in providing quality education with more than 10000 students, 500 faculty and staff, offering more than 100 programmes"/>

<meta name="description" content="2 best Campuses, 6 colleges in Odisha , 300+ experienced Teaching and Non-Teaching members make KGI Institutes Bhubaneswar serve as a groundbreaking platform which in turn facilitates students to evolve as a successful individuals in today's highly volatile and competitive world. Currently, 10000+ students are evolving under the KGI Institutes. Educational environments of the KGI Institutes breaks the boundaries of the books and allow pupils to employ their knowledge in real world scenario."/>

    
    <link rel="shortcut icon" href="favicon.ico"/>

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
 
    <link rel="stylesheet" href="css/font-awesome.min.css">
    
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
 
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript">
function show(str)
{

if (str=="")
  {
  document.getElementById("renewal").innerHTML="";
  return;
  }
  //alert(str);
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("renewal").innerHTML=xmlhttp.responseText;
    }
	
	else if(xmlhttp.readyState==1 )
    {
    document.getElementById("renewal").innerHTML="Wait...";
    }
  }
xmlhttp.open("GET","notice_disp.php?id="+str,true);
xmlhttp.send();

}
</script>
</head>


<body>

    
<!-----notice---modal------>
	 <div id="notice" class="modal fade" role="dialog">
            <div class="log-in-pop">
                
                <div class="log-in-pop-right1" style="padding:38px;">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                   
                  
                    <div id="renewal">
			<div style="overflow:auto">
			
            			
	</div>
            
  </div> 
					
					
                </div>
            </div>
        </div>	<!-----notice---modal------>	
	
	
	
	
	<!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index.html"><img src="images/logo.png" alt="" />
						</a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                           

                            
                            <h4>Main Pages</h4>
                            <ul>
                                <li><a href="index.php">Home</a></li>
                                <li><a href="aboutkgi.php">About KGI</a></li>
                                <li><a href="admission.php">Admission</a></li>
                                <li><a href="academics.php">Academics</a></li>
                                <li><a href="photogallery.php">Photo Gallery</a></li>
                                <li><a href="placement_new1/index.php" target="_blank">Placement</a></li>
                                <li><a href="http://koustuvgroup.ac.in/alumni/login.php" target="_blank">Alumni</a></li>
                                <li><a href="contactus.php">Contact Us</a></li>
                               
                            </ul>
							
							<h4>User Account</h4>
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Student Login</a></li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Employee Login</a></li>
                               <li style="background-color:#FFFFFF; padding:4px;"><a href="#"><span style="color:#0f2988; font-weight:bold;">pay</span><span style="color:#00b7ee; font-weight:bold;">tm</span> for fees</a>
                            </ul>
							
							
							
							
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
						
						
							 <div class="col-md-7">
						
						
						<div class="ed-com-t1-left">
                            
                            <div style="float:left;  background: #e66030; display:block; color:#FFFFFF; font-weight:bold; padding:5px;">ANNOUNCEMENT</div>
                            <div id="news-container" >
                            
                            <ul>
							
									
							<li>
                                <a href="http://www.koustuvgroup.ac.in/admission.php" target="_blank" title="CLICK HERE FOR ADMISSION ENQUIRY">CLICK HERE FOR ADMISSION ENQUIRY </a></li>
                               	
							<li>
                                <a href="http://www.koustuvgroup.ac.in/notice-atch/Aicte-2019-20.pdf" target="_blank" title="AICTE Approval 2019-20">AICTE Approval 2019-20 </a></li>
                               	
							<li>
                                <a href="http://koustuvgroup.ac.in/notice-atch/imp2019.pdf" target="_blank" title="IMP INFORMATION ABOUT MRS. SOUMYA BEHERA">IMP INFORMATION ABOUT MRS. SOUMYA BEHERA </a></li>
                               	
							<li>
                                <a href="http://www.koustuvgroup.ac.in/contactus.php" target="_blank" title="For Admission Contact 0674 - 2740133 / 2740386 / 2744407">For Admission Contact 0674 - 2740133 / 2740386 / 2744407 </a></li>
                               	
							<li>
                                <a href="http://koustuvgroup.ac.in/notice-atch/COEB_AICTE_2017-18.pdf" target="_blank" title="AICTE Approval Letter (COEB)">AICTE Approval Letter (COEB) </a></li>
                               	
							<li>
                                <a href="http://koustuvgroup.ac.in/notice-atch/KISD_AICTE_2017-18.pdf" target="_blank" title="AICTE Approval Letter (KISD)">AICTE Approval Letter (KISD) </a></li>
                                                               
                            </ul>
                            </div>
                            
                            
                        </div>
                        
								</div>
						
						<div class="col-md-5">
						
						
						
						
						<div class="ed-com-t1-right">
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Student Login</a>
                                </li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Employee Login</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <!--<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>-->
                                 <li style="background-color:#FFFFFF; padding:4.3px;"><a href="#"><span style="color:#0f2988; font-weight:bold;">pay</span><span style="color:#00b7ee; font-weight:bold;">tm</span> for fees</a>
                            </ul>
                        </div>
						
						</div>
						
						
						
						
                    </div>
					
					
					
					
					
					
					
					
					
					
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.php"><img src="images/logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index.php">Home</a></li>
							
                                <li><a href="aboutkgi.php">About KGI</a></li>
                                <li><a href="admission.php">Admission</a></li>
                                <li><a href="academics.php">Academics</a></li>
                                <li><a href="photogallery.php">Photo Gallery</a></li>
                               
                                <li><a href="http://koustuvgroup.ac.in/alumni/login.php" target="_blank">Alumni</a></li>
                                <li><a href="contactus.php">Contact Us</a></li>
                                
								
								
								
								
								<!--<li class="about-menu">
                                    <a href="about.html" class="mm-arr">About us</a>
                                 
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="admission.html">
                                                            <img src="images/h-about.jpg" alt="">
                                                            <span>Academics</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>Want to change the world? At Berkeley we?re doing just that. When you join the Golden Bear community, you?re part of an institution that shifts the global conversation every single day.</p>
                                                    <a href="about.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="all-courses.html">All Courses</a></li>
                                                        <li><a href="course-details.html">Course details</a></li>
                                                        <li><a href="about.html">About</a></li>
                                                        <li><a href="admission.html">Admission</a></li>
                                                        <li><a href="awards.html">Awards</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-s4">
                                                    <ul>
                                                        <li><a href="dashboard.html">Student profile</a></li>
                                                        <li><a href="db-courses.html">Dashboard courses</a></li>
                                                        <li><a href="db-exams.html">Dashboard exams</a></li>
                                                        <li><a href="db-profile.html">Dashboard profile</a></li>
                                                        <li><a href="db-time-line.html">Dashboard timeline</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>-->
                                <!--<li class="admi-menu">
                                    <a href="#" class="mm-arr">Admission</a>
                                 
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="about.html">
                                                            <img src="images/h-about1.jpg" alt="">
                                                            <span>Academics</span>
                                                        </a>
                                                    </div>
                                                    <p>Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros. Vestibulum congue nec eros quis lacinia. Mauris non tincidunt lectus. Nulla mollis, orci vitae accumsan rhoncus.</p>
                                                    <a href="about.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="admission.html">
                                                            <img src="images/h-adm1.jpg" alt="">
                                                            <span>Admission</span>
                                                        </a>
                                                    </div>
                                                    <p>Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros. Vestibulum congue nec eros quis lacinia. Mauris non tincidunt lectus. Nulla mollis, orci vitae accumsan rhoncus.</p>
                                                    <a href="admission.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="awards.html">
                                                            <img src="images/h-cam1.jpg" alt="">
                                                            <span>History & awards</span>
                                                        </a>
                                                    </div>
                                                    <p>Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros. Vestibulum congue nec eros quis lacinia. Mauris non tincidunt lectus. Nulla mollis, orci vitae accumsan rhoncus.</p>
                                                    <a href="awards.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s4">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="seminar.html">
                                                            <img src="images/h-res1.jpg" alt="">
                                                            <span>Seminar 2018</span>
                                                        </a>
                                                    </div>
                                                    <p>Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros. Vestibulum congue nec eros quis lacinia. Mauris non tincidunt lectus. Nulla mollis, orci vitae accumsan rhoncus.</p>
                                                    <a href="seminar.html" class="mm-r-m-btn">Read more</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>-->
                                
                             
                                <!--<li class="cour-menu">
                                    <a href="#!" class="mm-arr">All Pages</a>
                                  
                                    <div class="mm-pos">
                                        <div class="cour-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-cour-com mm1-s3">
													<h4>Frontend pages:1</h4>
                                                    <ul>
                                                        <li><a href="index.html">Home</a></li>
														<li><a href="index-1.html">Home - 1</a></li>
														<li><a href="all-courses.html">All Courses</a></li>
														<li><a href="course-details.html">Course Details</a></li>
														<li><a href="about.html">About us</a></li>
														<li><a href="admission.html">admission</a></li>
														<li><a href="awards.html">awards</a></li>
														<li><a href="blog.html">blog</a></li>
														<li><a href="blog-details.html">blog details</a></li>
														<li><a href="contact-us.html">contact us</a></li>
														<li><a href="departments.html">Departments</a></li>
														<li><a href="events.html">events</a></li>
														<li><a href="event-details.html">event details</a></li>
														<li><a href="event-register.html">event register</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-cour-com mm1-s3">
													<h4>Frontend pages:2</h4>
                                                    <ul>
														<li><a href="facilities.html">facilities</a></li>
														<li><a href="facilities-detail.html">facilities detail</a></li>
														<li><a href="research.html">research</a></li>
														<li><a href="seminar.html">seminar</a></li>
														<li><a href="gallery-photo.html">gallery photo</a></li>
                                                    </ul>
													<h4 class="ed-dr-men-mar-top">User Dashboard</h4>
                                                    <ul>
                                                        <li><a href="dashboard.html">Student profile</a></li>
                                                        <li><a href="db-courses.html">Dashboard courses</a></li>
                                                        <li><a href="db-exams.html">Dashboard exams</a></li>
                                                        <li><a href="db-profile.html">Dashboard profile</a></li>
                                                        <li><a href="db-time-line.html">Dashboard timeline</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-cour-com mm1-s3">
													<h4>Admin panel:1</h4>
                                                    <ul>
														<li><a href="admin.html">admin</a></li>
														<li><a href="admin-add-courses.html">Add new course</a></li>
														<li><a href="admin-all-courses.html">All courses</a></li>
														<li><a href="admin-student-details.html">Student details</a></li>
														<li><a href="admin-user-add.html">Add new user</a></li>
														<li><a href="admin-user-all.html">All users</a></li>
														<li><a href="admin-panel-setting.html">Admin setting</a></li>
														<li><a href="admin-event-add.html">event add</a></li>
														<li><a href="admin-event-all.html">event all</a></li>
														<li><a href="admin-setting.html">Admin Setting</a></li>
														<li><a href="admin-slider.html">Slider setting</a></li>
														<li><a href="admin-slider-edit.html">Slider edit</a></li>
														<li><a href="admin-course-details.html">course details</a></li>
														<li><a href="admin-login.html">admin login</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-cour-com mm1-s3">
													<h4>Admin panel:2</h4>
                                                    <ul>
														<li><a href="admin-event-edit.html">event edit</a></li>
														<li><a href="admin-exam-add.html">exam add</a></li>
														<li><a href="admin-exam-all.html">exam all</a></li>
														<li><a href="admin-exam-edit.html">exam edit</a></li>
														<li><a href="admin-export-data.html">export data</a></li>
														<li><a href="admin-import-data.html">import data</a></li>
														<li><a href="admin-job-add.html">Add new jobs</a></li>
														<li><a href="admin-job-all.html">All jobs</a></li>
														<li><a href="admin-job-edit.html">Edit job</a></li>
														<li><a href="admin-main-menu.html">main menu</a></li>
														<li><a href="admin-page-add.html">Add new page</a></li>
														<li><a href="admin-page-all.html">All pages</a></li>
														<li><a href="admin-page-edit.html">Edit page</a></li>
														<li><a href="admin-forgot.html">forgot password</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-cour-com mm1-s4">
													<h4>Admin panel:3</h4>
                                                    <ul>
														<li><a href="admin-quick-link.html">quick link</a></li>
														<li><a href="admin-seminar-add.html">Add new seminar</a></li>
														<li><a href="admin-seminar-all.html">All seminar</a></li>
														<li><a href="admin-seminar-edit.html">Edit seminar</a></li>
														<li><a href="admin-seminar-enquiry.html">Semester enquiry</a></li>
														<li><a href="admin-all-enquiry.html">All enquiry</a></li>
														<li><a href="admin-view-enquiry.html">All enquiry view</a></li>
														<li><a href="admin-event-enquiry.html">event enquiry</a></li>
														<li><a href="admin-admission-enquiry.html">Admission enquiry</a></li>
														<li><a href="admin-common-enquiry.html">common enquiry</a></li>
														<li><a href="admin-course-enquiry.html">course enquiry</a></li>
														<li><a href="admin-all-menu.html">menu all</a></li>
														<li><a href="admin-about-menu.html">Menu - About</a></li>
														<li><a href="admin-admission-menu.html">Menu - admission</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>-->
                               
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search Our Group of Colleges">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                            <li><a href="http://www.ceb.ac.in"  target="_blank">College of Engineering Bhubaneswar (COEB)</a></li>
                                            <li><a href="http://www.kisdbbsr.ac.in"  target="_blank">Koustuv Institute of Self Domain (KISD)</a></li>
                                            <li><a href="http://www.ksebbsr.ac.in"  target="_blank">Koustuv School of Engineering (KSE)</a></li>
                                            <li><a href="http://www.kbsbbsr.ac.in"  target="_blank">Koustuv Business School (KBS)</a></li>
                                            <li><a href="http://www.kips.ac.in"  target="_blank">Koustuv Institute of Professional Studies (KIPS)</a></li>
                                            <li><a href="http://www.nimsbbsr.ac.in"  target="_blank">Naxatra Institute of Media Studies (NIMS)</a></li>
                                            <li><a href="http://www.kisbbsr.ac.in"  target="_blank">Koustuv Institute of Science (KIS)</a></li>
											
                                            <li><a href="http://www.bhubaneswarinternationalschool.com" target="_blank">Bhubaneswar International School (BIS)</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        
            </section>
    <!--END HEADER SECTION-->

    <!-- SLIDER -->
    
	
	<section>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slider1 active">
                    <img src="images/slider/1.jpg" alt="">
                    <!--<div class="carousel-caption slider-con">
                        <h2>Welcome to <span>Koustuv Group</span></h2>
                      
                       
                    </div>-->
                </div>
                <div class="item">
                    <img src="images/slider/2.jpg" alt="">
                  <!--  <div class="carousel-caption slider-con">
                        <h2>Admission open <span>2019</span></h2>
                       
                    </div>-->
                </div>
                <div class="item">
                    <img src="images/slider/3.jpg" alt="">
                    <div class="carousel-caption slider-con">
                       <!-- <h2>Best <span>Placement Record</span></h2>-->
                       <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#" class="bann-btn-1">All Courses</a><a href="#" class="bann-btn-2">Read More</a>-->
                    </div>
                </div>
				
				<div class="item">
                    <img src="images/slider/4.jpg" alt="">
                    <div class="carousel-caption slider-con">
                       <!-- <h2>Best <span>Placement Record</span></h2>-->
                       <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#" class="bann-btn-1">All Courses</a><a href="#" class="bann-btn-2">Read More</a>-->
                    </div>
                </div>
				
				
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <i class="fa fa-chevron-left slider-arr"></i>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <i class="fa fa-chevron-right slider-arr"></i>
            </a>
        </div>
    </section>

    <!-- QUICK LINKS -->
    <section>
        <div class="container">
            <div class="row">
                <div class="wed-hom-ser">
                    <ul>
                        
						 <li>
                            <a href="admission.php" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="images/icon/h-ic2.png" class="img-responsive" alt=""> Admission</a>
                        </li>
						
						<li>
                            <a href="academics.php" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="images/icon/h-ic1.png" class="img-responsive" alt=""> Academy</a>
                        </li>
                       
                        <li>
                            <a href="http://www.koustuvgroup.ac.in/placement_new1/index.php" class="waves-effect waves-light btn-large wed-pop-ser-btn" target="_blank"><img src="images/icon/h-ic4.png" class="img-responsive" alt=""> Placement</a>
                        </li>
                       <!-- <li>
                            <a href="#" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="images/icon/h-ic3.png" alt=""> Seminar</a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </section>

     <!-- Notice & Campus Update Section -->
    <section>
        
			<div class="col-md-12">
		
		
		       <div class="container com-sp pad-bot-70">
				
				
							<div class="row">
							
									<div class="col-md-6">
									
													<div class="bot-gal h-blog ho-event">
                        <h4><strong>E-Notice</strong></h4>
                        <div class="ho-event">
                            <ul>
							                                <li>
                                    <div class="ho-ev-date"><span>05</span><span>Jun, 2020</span></div>
                                    <div class="ho-ev-link">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#notice" onclick = "show(2453);">
                                            <h4>Re-checking Odd Semester (Reg. & Back) 2019-20 of COEB</h4>
                                        </a>
                                        <p>It is for the notified for the information of all the students that, they can apply for th...</p>
                                        
                                    </div>
                                </li>
                               
                                                               <li>
                                    <div class="ho-ev-date"><span>05</span><span>Jun, 2020</span></div>
                                    <div class="ho-ev-link">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#notice" onclick = "show(2452);">
                                            <h4>On line Internal Examination Notice of 2nd,4th & 6th Sem 20-21 of KSE</h4>
                                        </a>
                                        <p>It is here by informed that the online internal examination of 2nd,4th and 6th semester wi...</p>
                                        
                                    </div>
                                </li>
                               
                                                               <li>
                                    <div class="ho-ev-date"><span>01</span><span>Jun, 2020</span></div>
                                    <div class="ho-ev-link">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#notice" onclick = "show(2451);">
                                            <h4>ONLINE 2ND INTERNAL EXAMINATION FOR MBA-KBS & COEB STUDENTS</h4>
                                        </a>
                                        <p>This is to inform to all the students that the 2nd internal examination for 2nd &amp; 4th ...</p>
                                        
                                    </div>
                                </li>
                               
                                                               <li>
                                    <div class="ho-ev-date"><span>30</span><span>May, 2020</span></div>
                                    <div class="ho-ev-link">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#notice" onclick = "show(2450);">
                                            <h4>Notice regarding student login</h4>
                                        </a>
                                        <p>&nbsp;it is for the information of all the students of coeb &amp; kisd that, if they are h...</p>
                                        
                                    </div>
                                </li>
                               
                                                               <li>
                                    <div class="ho-ev-date"><span>30</span><span>May, 2020</span></div>
                                    <div class="ho-ev-link">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#notice" onclick = "show(2449);">
                                            <h4>6th, 4th & 2nd Semester Internal Examination 2020 of COEB</h4>
                                        </a>
                                        <p>The 2nd&nbsp;internal examination of 6th, 4th&nbsp;&amp; 2nd&nbsp;semester of b.tech, mca ...</p>
                                        
                                    </div>
                                </li>
                               
                                                               <li>
                                    <div class="ho-ev-date"><span>22</span><span>Apr, 2020</span></div>
                                    <div class="ho-ev-link">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#notice" onclick = "show(2446);">
                                            <h4>ONLINE CLASS TIME TABLE FOR B.TECH. & MCA 2ND SEMESTER w.e.f. DATE - 03/04/2020 of COEB</h4>
                                        </a>
                                        <p>Online class time table for b.tech. &amp; mca 2nd   semester w.e.f. date - 03/04/2020day/p...</p>
                                        
                                    </div>
                                </li>
                               
                                
                            </ul>
                        </div>
                    </div>
									<div style="margin-top:10px; margin-bottom:20px;">
									<a href="view-notice.php" class="read-line-btn">Read more</a>
									</div>
									</div>
									<div class="col-md-6">
									
									
									
											<div class="bot-gal h-blog ho-event">
                        <h4><strong>Campus Update</strong></h4>
                        <div class="ho-event">
                            <ul>
							                                <li>
                                    <div class="ho-ev-date1"><img src="http://www.koustuvgroup.ac.in/campus_update/logo/45556capgemini-logo-clipart-9.png" class="img-responsive" style="width:200px; height:122px; " alt="CAPGEMINI" title="CAPGEMINI"></div>
                                    <div class="ho-ev-link1">
                                        <a href="congrats/index.php?q=320" target="_blank">
                                            <h4>CAPGEMINI</h4>
                                        </a>
                                        <p>CSE/IT/ETC/EEE/MCA</p>
                                        <span>No. of Students Selected : <strong></strong>2</span>
                                    </div>
                                </li>
                                
                                                            <li>
                                    <div class="ho-ev-date1"><img src="http://www.koustuvgroup.ac.in/campus_update/logo/78721download.png" class="img-responsive" style="width:200px; height:122px; " alt="SUPREME INDUSTRIES" title="SUPREME INDUSTRIES"></div>
                                    <div class="ho-ev-link1">
                                        <a href="congrats/index.php?q=319" target="_blank">
                                            <h4>SUPREME INDUSTRIES</h4>
                                        </a>
                                        <p>MECH/AUTO</p>
                                        <span>No. of Students Selected : <strong></strong>3</span>
                                    </div>
                                </li>
                                
                                                            <li>
                                    <div class="ho-ev-date1"><img src="http://www.koustuvgroup.ac.in/campus_update/logo/77542maroon.jpg" class="img-responsive" style="width:200px; height:122px; " alt="MAROON INSIGHTS" title="MAROON INSIGHTS"></div>
                                    <div class="ho-ev-link1">
                                        <a href="congrats/index.php?q=318" target="_blank">
                                            <h4>MAROON INSIGHTS</h4>
                                        </a>
                                        <p>CSE/IT/MCA</p>
                                        <span>No. of Students Selected : <strong></strong>1</span>
                                    </div>
                                </li>
                                
                                                            <li>
                                    <div class="ho-ev-date1"><img src="http://www.koustuvgroup.ac.in/campus_update/logo/68457Afixi_Technologies.png" class="img-responsive" style="width:200px; height:122px; " alt="AFFIXI TECHNOLOGIES" title="AFFIXI TECHNOLOGIES"></div>
                                    <div class="ho-ev-link1">
                                        <a href="congrats/index.php?q=316" target="_blank">
                                            <h4>AFFIXI TECHNOLOGIES</h4>
                                        </a>
                                        <p>CSE/IT/ETC/EEE/MCA</p>
                                        <span>No. of Students Selected : <strong></strong>6</span>
                                    </div>
                                </li>
                                
                                
                                
                            </ul>
                        </div>
                    </div>
				
				
				<div style="margin-top:25px;">
									<a href="view-campus-update.php" class="read-line-btn">Read more</a>
									</div>
				
				
									
									
</div>
<div class="clearfix"></div>
</div>
				
</div> 
            
</div>
</section>

   
   

    <!-- NEWS AND EVENTS -->
    <section>
        <div class="container ">
            
        </div>
    </section>

    <!--- FOOTER COURSE BOOKING -->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>WISH TO JOIN US </h4>
                            <p>Help Line : +91 674 2740133 / 2740386 / 2744407</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="admission.php">Admission Enquiry</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
	
			    <section class="wed-hom-footer">
        <div class="container">
            
            
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p><strong>Koustuv Technical Campus</strong><br>
Infocity Road, Patia Bhubaneswar - 751024 Odisha, India 
Phone No: +91 674 2740133 / 2740386 / 2744407<br>
Fax: +91 674 2740828<br>
<b>Connect with us:</b>	<br>					
Email: info@koustuvgroup.ac.in (Official)
admission@koustuvgroup.ac.in (Admission)
verification@koustuvgroup.ac.in (Student verification)</p>
                </div>
                <div class="col-md-4">
                    <h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
                    <ul>
                        <li><a href="#"><span class="sprite sprite-android"></span></a>
                        </li>
                        <li><a href="#"><span class="sprite sprite-ios"></span></a>
                        </li>
                    </ul>
					
					<h4>Connect With Us</h4>
					
					<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FKoustuv-Group-of-Institutions%2F370476729668451%3Fref%3Dhl&amp;width=350&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:80px;" allowTransparency="true"></iframe>
					
					
					
					
                </div>
				
				
				
				
				
				
				
                <div class="col-md-4 deb1" >
                    <h4>Group of Institutions</h4>
                    <ul>
                        <li><a href="http://www.ceb.ac.in" target="_blank">College of Engineering Bhubaneswar (COEB)</a></li>
                        <li><a href="http://www.kisdbbsr.ac.in" target="_blank">Koustuv Institute of Self Domain (KISD)</a></li>
                        <li><a href="http://www.ksebbsr.ac.in" target="_blank">Koustuv School of Engineering (KSE)</a></li>
                        <li><a href="http://www.kbsbbsr.ac.in" target="_blank">Koustuv Business School (KBS)</a></li>
                        <li><a href="http://www.nimsbbsr.ac.in" target="_blank">Naxatra Institute of Media Studies (NIMS)</a></li>
                        <li><a href="http://www.kips.ac.in" target="_blank">Koustuv Institute of Professional Studies (KIPS)</a></li>
                       
                        <li><a href="http://www.kisbbsr.ac.in" target="_blank">Koustuv Institute of Science (KIS)</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- COPY RIGHTS -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                    <p>Copyrights @ 2020. Koustuv Group Institutions. All rights reserved.</p>
                </div>
            </div>
        </div>
    </section>
	
	
 <!-- FOOTER -->
    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
   
	 <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Welcome...</h1>
                    <p>Login for Library Book Search & Status, BPUT Questions, Lecture Notes, PPT Questions, Exam Schedules. (1st Semester Onwards)</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube"></i> Youtube</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Academic Login</h4>
                    <p>Don't have an account? Contact IT Administration to create a new Account!</p>
                    <form class="s12" action="academic.login.class.php" method="post">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate" name="uname">
                                <label>Registration Number</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate" name="pass">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <!--<div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>-->
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"><h2> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Click here to Placement LOGIN</a> </h2> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Welcome...</h1>
                      <p>Don't have an account? Contact IT Administration to create a new Account!</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Employee Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12" method="post" action="http://www.koustuvgroup.ac.in/emp_login/login.class.php">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate" name="uname">

                                <label>Employee ID</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate" name="pass">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <!--<div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>-->
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <!--<div>
                            <div class="input-field s12"><h2> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Click here to Placement LOGIN</a> </h2> </div>
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Welcome... </h1>
                    <p>Login & update your profile of Academic for Campus Drives accessed by Training & Placement Department (5th Semester Onwards)</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube"></i> Youtube</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Placement Login</h4>
                     <p>Don't have an account? Contact IT Administration to create a new Account!</p>
                    <form class="s12" action="../aptest/index_new.php" method="post">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate" name="username">
                                <label>Registration Number</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate" name="password">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <!--<div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>-->
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"><h2> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Click here to Academic LOGIN</a> </h2> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>    <!-- SOCIAL MEDIA SHARE -->
    <section>
        <div class="icon-float">
            <ul>
                <li><a href="https://www.facebook.com/koustuvgroup.official/" class="fb1" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="https://www.youtube.com/channel/UCY2Ug-CjPzQYkkXsI2uizPA/videos" class="gp1" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
	
	<script type="text/javascript" src="js/jquery.vticker-min.js"></script>
<script type="text/javascript">
$(function(){
	$('#news-container').vTicker({ 
		speed: 1000,
		pause: 5000,
		animation: 'fade',
		mousePause: false,
		showItems: 1
	});
        $('#news-container1').vTicker({
		speed: 300,
		pause: 4000,
		animation: 'fade',
		mousePause: false,
		showItems: 1
	});
});
</script>
	
    
    
    
    
    
    
    <script>
    
    curl https://www.zopim.com/api/v2/chats \
  -d '{
         "visitor": {
            "phone":"",
            "notes":"",
            "id":"1.12345",
            "name": "John",
            "email": "visitor_john@doe.com"
         },
         "message":"Hi there!",
         "type":"offline_msg",
         "timestamp": 1444156010,
         "session": {
           "browser": "Safari",
           "city": "Orlando",
           "country_code": "US",
           "country_name": "United States",
           "end_date": "2014-10-09T05:46:47Z",
           "id": "141109.654464.1KhqS0Nw",
           "ip": "67.32.299.96",
           "platform": "Mac OS",
           "region": "Florida",
           "start_date": "2014-10-09T05:28:31Z",
           "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10) AppleWebKit/600.1.25 (KHTML, like Gecko) Version/8.0 Safari/600.1.25"
         }
      }' \
  -v -u {email_address}:{password} \
  -X POST -H "Content-Type: application/json"
    
    
    </script>
    
    
    
    
    
    
    
    <script src="js/custom.js"></script>
    

    
    
    
</body>


</html>